#wrapper{
    background: red;
}
#headerDisplacement{
    background: purple !important;
}

#guessedLettersBox{
    background: green;
}

.clearfix{
    display: center !important;
    clear: both !important;
    padding: 25;
}