* {
    box-sizing: border-box;
}

body {
font-family: 'Permanent Marker';

}


.jumbotron {
    padding-top: 7%;
    margin-top: 2%;
    background: rgba(44, 51, 151, 0.8); 
    text-align: center;
    font-family: 'Play', sans-serif;
    background-image: url('images/symbol.jpeg') !important;


 }

 h2{
     background: white !important;
    margin-left: 36%;
    margin-right: 36%;     
 }
#currencyGuess {
    font-weight: bolder;
}
.panel {
    background: rgba(251, 221, 227, 0.8);  
    font-family: 'Play', sans-serif;


}

.btn-info {
    background: rgb(56, 105, 209);
    border-color:  rgb(23, 110, 81);
    color: black !important;
    font-family: 'Play', sans-serif;

}

.btn-info:hover{
    background: rgb(60, 120, 233);
    border-color:  rgb(229, 147, 174);
 
}

.btn-info:focus{
    border-color:  rgb(229, 147, 174)!important;
    color: black !important;


}

.btn {
    transition: none;
}

.navbar {
    background-image: url('images/currency.jpeg') !important;
}

.navbar-brand {
    padding-left: center;
    background: white;



}